.Messenger {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messenger__container {
    margin-top: 10px;
    width: 750px;
    border: 1px solid lightgray;
    display: flex;
}

.messenger__left {
    border-right: 1px solid lightgray;
    width: fit-content;
}

.messenger__list {
    height: calc(100vh - 130px);
    overflow-y: scroll;
}

.messenger__owner {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 15px 110px;
    border-bottom: 1px solid lightgray;
}

.messenger__item {
    display: flex;
    align-items: center;
    padding: 13px 0 13px 12px;
    max-width: 287px;
}

.messenger__item-avatar {
    width: 43px;
    height: 43px;
    margin-right: 10px;
}

.messenger__item-name {
    font-size: 13px;
}

.messenger__item-msg {
    font-size: 12px;
    color: #8e8e8e;
    display: flex;
}

.messenger__item-realMsg {
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    max-width: 193px;
    overflow: hidden;
    margin-right: 2px;
}

.messenger__item-msg__bullet {
    margin-right: 2px;
}

.messenger__inbox {
    flex: 1;
}

.messenger__inbox-empty {
    display: flex;
    height: 100%;
    align-items: center;
}

.messenger__inbox-emptyContainer {
    width: 100%;
    text-align: center;
}


.messenger__inbox-emptyContainer p {
    color: #8e8e8e;
    font-size: 13px;
}

.messenger__inbox-header {
    display: flex;
    align-items: center;
    padding: 12px 0 7px 12px;
    border-bottom: 1px solid lightgray;
}

.messenger__inbox-headerUser {
    display: flex;
    align-items: center;
}

.messenger__inbox-headerUser-avatar {
    width: 30px;
    height: 30px;
}

.messenger__inbox-headerUser-name {
    font-size: 13px;
    margin-left: 7px;
    font-weight: 500;
    color: #262626;
}

.messenger__inbox-user {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messenger__inbox-body {
    flex: 1;
    overflow-y: scroll;
    padding: 0 18px 20px;
    display: flex;
    flex-direction: column-reverse;
}

.messenger__inbox-input {
    display: flex;
    align-items: center;
    margin: 0px 20px 12px 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px 4px;
}

.messenger__inbox-input input {
    border: none;
    flex: 1;
    margin: 0 5px;
}

.messenger__inbox-input input::placeholder {
    font-size: 13px;
}

.messenger__inbox-input input:focus {
    outline: none;
}

.messenger__inbox-input svg {
    width: 21px;
    height: 21px;
}

.messenger__message-main {
    display: flex;
}

.messenger__message-avatar {
    height: 27px;
    width: 27px;
    margin-right: 12px;
}

.messenger__message-right {
    display: flex;
    justify-content: flex-end;
}

.messenger__header {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 16px;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.messenger__header p {
    font-weight: 500;
    flex: 1;
}

.messenger__backBtn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
}

.messenger__inbox-back {
    display: none;
}

.messenger__timestamp {
    display: flex;
    justify-content: center;
}

.messenger__timestamp p {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    color: #8e8e8e;
    font-weight: 500;
}


@media screen and (max-width: 750px) {
    .messenger__container {
        width: 740px;
    }
}

@media screen and (max-width: 740px) {
    .Messenger {
        align-items: normal;
    }

    .messenger__container {
        margin-top: 0;
        width: 100vw;
        border: none;
        height: 100vh;
        background-color: white;
        z-index: 9999;
    }

    .messenger__owner {
        display: none;
    }

    .messenger__left {
        border-right: none;
    }

    .messenger__item-avatar {
        width: 50px;
        height: 50px;
    }

    .messenger__item-name {
        font-size: 13px;
    }

    .messenger__item-msg {
        font-size: 13px;
    }

    .messenger__inbox-back {
        display: inline;
        width: 30px;
        height: 30px;
    }

    .messenger__inbox-header {
        padding: 4px 16px;
    }

    .messenger__inbox-headerUser-avatar {
        width: 28px;
        height: 28px;
    }

    .messenger__inbox-headerUser-name {
        font-size: 18px;
    }
}
